{% extends 'base.html.twig' %}

{% block body %}

  <h1 class="text-4xl font-bold text-center dark:text-mak">Merci!</h1>
  <h2 class="text-4xl font-bold text-center dark:text-mak">Votre email a bien été enregistré</h2>

{% endblock %}