{% extends 'base.html.twig' %}


{% block body %}
    <h1>A propos</h1>

    <div class="bg-mak">

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel sapiente facere necessitatibus exercitationem autem consequuntur, odit, quam minima ratione, quisquam neque? Quas, obcaecati delectus atque sequi possimus nostrum laudantium veniam!

    </div>
{% endblock %}

