{% extends 'base.html.twig' %}

{% block title %}
    {{parent()}} - Homepage
{% endblock %}

{% block body %}

    <h1 class="text-4xl font-bold text-center my-6">Accueil</h1>
    <p><img src="{{asset('images/linux-vs-windows.jpg')}}" alt="mon image" style="max-width: 350px"</p>
    
{% endblock %}
