{% extends 'base.html.twig' %}

{% block title %}
    {{parent()}} - Homepage
{% endblock %}

{% block body %}

  <ul class="flex flex-col gap-2 justify-center">

    {% for category in categories %}

      <li class="p-4 bg-gray-800 shadow-xl uppercase text-2xl">
        <a href="{{ path('category_item', { id: category.id }) }}">{{ category.name }}</a>
      </li>
      
    {% endfor %}
  </ul>

{% endblock %}